@import "tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

@theme {
  --color-main: #00ac25;
  --color-main-r: #ffffff;
}

li a {
  width: max-content;
  padding: 3px 9px;
  font-weight: 400;
}

li > a:hover {
  color: var(--color-main-r);
  background-color: #00ac25c4;

  border-radius: 5px;
}

/* swipper navigation */

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;

  border-radius: 100%;
  opacity: 1;
  transition:
    width 0.7,
    background-color 0.7;
  box-shadow: #0a0a0a 0 0 4px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid var(--color-main);
}
